@model IEnumerable<E_commerce_Site.Models.Product>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @await Component.InvokeAsync("CategoryList")
        @if (Model != null)
        {
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                @item.Title
                            </div>
                            <img src="@item.Image" class="card-img-top" alt="..." style="height:350px">
                            <div class="card-body" style="height:100px">
                                <p class="card-text">@item.Description</p>
                            </div>
                            <div class="card-footer">
                                <label style="font-size:20px;color:crimson"><b>@item.Price.ToString("0.00")$</b></label>
                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-info" style="float:right">Details</a>

                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="alert alert-warning text-center" style="width:75%;height:25%;">
                No available Product...
            </div>
        }


    </div>
</div>

